body {

    background-color: bisque;
    text-align: center;
}

.image-name {
    font-family: 'Gotu', sans-serif;
}

.image-display {
    border: 2px solid black;
    width: 240px;
    height: 250px;
    text-align: center;
    margin: auto;
    overflow-wrap: break-word;
    flex-shrink: initial;
    flex-basis: 0;
}

section {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: initial;
    border: 2px black;
}