body {

    background-color: lightgrey;
    text-align: center;
}

.image-name {
    font-family: 'Gotu', sans-serif;
}

.image-display {
    border: 2px solid black;
    width: 240px;
    height: 250px;
    text-align: center;
    margin: auto;
    overflow-wrap: break-word;
    /* flex-shrink: initial;
    flex-basis: 0; */
}

section {
    /* display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: initial; */
    border: 2px black;
    height: 300px
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: firebrick;
    -webkit-text-stroke: 1px black;
    text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: initial; 
    justify-content: center;
}

h2 {
padding-right: 5px;

}
